/* MAIN MENU BACKGROUND COLOR */
$color-1: #173754;
/*  NAV LINK COLOR HOVER */
$color-2: #1eafdd;

// BREAKPOINTS
$screen-xs: 370px;
$screen-sm: 700px;
$screen-md: 1080px;
$screen-lg: 1400px;
$screen-xl: 1920px;

/* MAIN RULES */
body,
html {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    /* BLOCK NAV */
    nav {
        width: 100%;
        position: fixed;
        top: 0px;
        padding: 10px;
        color: white;
        background-color: $color-1;
        box-shadow: 0px 0px 19px 0px grey;

        /* BLOCK MAIN MENU*/
        .main-menu {
            display: flex;
            flex-direction: row;
            height: auto;

            /* BLOCK LEFT */
            .block-left {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: start;

                /* BLOCK PLACEHOLDER */
                .placeholder {
                    width: 150px;
                    height: 30px;
                    margin-left: 50px;
                    display: flex;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    color: grey;
                    background-color: lightgrey;
                    border-radius: 4px;
                }
            }

            /* BLOCK MIDDLE */
            .block-middle {
                width: 30%;
            }

            /* BLOCK RIGHT */
            .block-right {
                width: 30%;
                display: inline-flex;
                align-items: flex-start;
                justify-content: space-around;

                /* NAV LINK */
                .nav-link {
                    flex: auto;
                    align-items: flex-start;
                    margin: 0 10px;

                    /* BOOTSTRAP SM BREAKPOINT */
                    @media (max-width: $screen-xl) {
                        .display-none {
                            display: none;
                        }
                    }
                }

                /* NAV LINK ON HOVER */
                &> :hover {
                    color: $color-2;
                }
            }
        }
    }

    /* BLOCK-MAIN */
    .block-main {
        width: 100%;
        margin-top: 100px;

        /* CONTAINER */
        .container {
            height: 500%;
            margin: 15px;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 19px 0px grey;

            p {
                padding: 10px;
                text-align: left;
            }
        }
    }

    /* FOOTER */





    /* MEDIA QUERIES FOR SCREEN-XL */
    @media (max-width: $screen-xl) {
        footer {
            height: auto;
            // min-height: 50vh;
            display: flex;
            // flex-grow: 1;
            justify-content: space-around;
            background-color: $color-1;
            color: rgba(177, 196, 221, 0.5);




            .white {
                color: white;
            }

            .color-phone {
                color: #6a93e2;
            }

            .wrapper-footer {
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                /* FOOTER-TITLE */
                .footer-title {
                    text-align: center;
                    padding: 30px 0px;
                    color: white;

                    .hr {
                        width: 8%;
                        height: 5px;
                        background-color: rgba(245, 237, 126, 0.904);
                        border-radius: 10px;
                    }
                }

                /* FOOTER-BODY */
                .footer-body {
                    padding-top: 50px;
                    flex-direction: row;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    // @media (max-width: $screen-sm) {

                    // }

                    .card {
                        padding: 15px;
                        width: 17%;
                        width: 300px;
                        display: flex;
                        flex-wrap: wrap;

                        /* MEDIA QUERIES FOR SCREEN-XS */
                        @media (max-width: $screen-xs) {
                            .card-boutique {
                                color: rgba(177, 196, 221, 0.5);
                            }
                        }

                        /* MEDIA QUERIES FOR SCREEN-SM */
                        @media (max-width: $screen-sm) {
                            .card-benefices {
                                color: rgba(177, 196, 221, 0.5);
                            }
                        }

                        /* MEDIA QUERIES FOR SCREEN-MD */
                        @media (max-width: $screen-md) {
                            .card-musique {
                                color: rgba(177, 196, 221, 0.5);
                                // flex: 0 0 50%;
                            }
                        }

                        /* MEDIA QUERIES FOR SCREEN-LG */
                        @media (max-width: $screen-lg) {
                            .card-horaire {}
                        }
                    }

                    .card-body {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: space-between;
                        width: 100%;
                        height: 100%;

                        .wrapper {
                            .card-title {
                                width: 100%;
                                height: auto;
                                justify-content: center;
                            }
                        }

                        .card-text {
                            width: 100%;
                            height: auto;

                            p {
                                color: rgba(177, 196, 221, 0.5);
                            }
                        }

                        .card-link {
                            height: auto;

                            h4 {
                                color: rgba(245, 237, 126, 0.904);
                            }
                        }
                    }
                }
            }

            /* WRAPPER-FOOTER */
            .wrapper-bottom-footer {
                margin-bottom: 25px;

                /* FOOTER-CONTACT */
                .footer-contact {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(177, 196, 221, 0.5);
                }

                /* COPYRIGHT */
                .copyright {
                    margin-top: 15px;
                }
            }
        }
    }
}