/* MAIN MENU BACKGROUND COLOR */
/*  NAV LINK COLOR HOVER */
/* MAIN RULES */
body,
html {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* BLOCK NAV */
  /* BLOCK-MAIN */
  /* FOOTER */
  /* media queries for screen-xs */
  /* media queries for screen-sm */
  /* media queries for screen-md */
  /* media queries for screen-lg */
  /* media queries for screen-xl */
}

body nav,
html nav {
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 10px;
  color: white;
  background-color: #173754;
  -webkit-box-shadow: 0px 0px 19px 0px grey;
          box-shadow: 0px 0px 19px 0px grey;
  /* BLOCK MAIN MENU*/
}

body nav .main-menu,
html nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  /* BLOCK LEFT */
  /* BLOCK MIDDLE */
  /* BLOCK RIGHT */
}

body nav .main-menu .block-left,
html nav .main-menu .block-left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /* BLOCK PLACEHOLDER */
}

body nav .main-menu .block-left .placeholder,
html nav .main-menu .block-left .placeholder {
  width: 150px;
  height: 30px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  background-color: lightgrey;
  border-radius: 4px;
}

body nav .main-menu .block-middle,
html nav .main-menu .block-middle {
  width: 30%;
}

body nav .main-menu .block-right,
html nav .main-menu .block-right {
  width: 30%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* NAV LINK */
  /* NAV LINK ON HOVER */
}

body nav .main-menu .block-right .nav-link,
html nav .main-menu .block-right .nav-link {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 10px;
  /* BOOTSTRAP SM BREAKPOINT */
}

@media (max-width: 1920px) {
  body nav .main-menu .block-right .nav-link .display-none,
  html nav .main-menu .block-right .nav-link .display-none {
    display: none;
  }
}

body nav .main-menu .block-right > :hover,
html nav .main-menu .block-right > :hover {
  color: #1eafdd;
}

body .block-main,
html .block-main {
  width: 100%;
  margin-top: 100px;
  /* CONTAINER */
}

body .block-main .container,
html .block-main .container {
  height: 500%;
  margin: 15px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 19px 0px grey;
          box-shadow: 0px 0px 19px 0px grey;
}

body .block-main .container p,
html .block-main .container p {
  padding: 10px;
  text-align: left;
}

@media (max-width: 370px) {
  body footer,
  html footer {
    background-color: green;
    color: rgba(177, 196, 221, 0.5);
  }
}

@media (max-width: 700px) {
  body footer,
  html footer {
    background-color: pink;
    color: rgba(177, 196, 221, 0.5);
  }
}

@media (max-width: 1080px) {
  body footer,
  html footer {
    background-color: purple;
    color: rgba(177, 196, 221, 0.5);
  }
}

@media (max-width: 1400px) {
  body footer,
  html footer {
    background-color: orange;
    color: rgba(177, 196, 221, 0.5);
  }
}

@media (max-width: 1920px) {
  body footer,
  html footer {
    height: auto;
    background-color: #173754;
    color: rgba(177, 196, 221, 0.5);
  }
  body footer .white,
  html footer .white {
    color: white;
  }
  body footer .color-phone,
  html footer .color-phone {
    color: #6a93e2;
  }
  body footer .wrapper-footer,
  html footer .wrapper-footer {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* FOOTER-TITLE */
    /* FOOTER-BODY */
    /* WRAPPER-FOOTER */
  }
  body footer .wrapper-footer .footer-title,
  html footer .wrapper-footer .footer-title {
    text-align: center;
    padding: 30px 0px;
    color: white;
  }
  body footer .wrapper-footer .footer-title .hr,
  html footer .wrapper-footer .footer-title .hr {
    width: 8%;
    height: 5px;
    background-color: rgba(245, 237, 126, 0.904);
    border-radius: 10px;
  }
  body footer .wrapper-footer .footer-body,
  html footer .wrapper-footer .footer-body {
    padding-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body footer .wrapper-footer .footer-body .card,
  html footer .wrapper-footer .footer-body .card {
    padding: 15px;
    width: 17%;
  }
  body footer .wrapper-footer .footer-body .card .card-body,
  html footer .wrapper-footer .footer-body .card .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
    height: 100%;
  }
  body footer .wrapper-footer .footer-body .card .card-body .wrapper .card-title,
  html footer .wrapper-footer .footer-body .card .card-body .wrapper .card-title {
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .wrapper-footer .footer-body .card .card-body .card-text,
  html footer .wrapper-footer .footer-body .card .card-body .card-text {
    width: 100%;
    height: auto;
  }
  body footer .wrapper-footer .footer-body .card .card-body .card-text p,
  html footer .wrapper-footer .footer-body .card .card-body .card-text p {
    color: rgba(177, 196, 221, 0.5);
  }
  body footer .wrapper-footer .footer-body .card .card-body .card-link,
  html footer .wrapper-footer .footer-body .card .card-body .card-link {
    height: auto;
  }
  body footer .wrapper-footer .footer-body .card .card-body .card-link h4,
  html footer .wrapper-footer .footer-body .card .card-body .card-link h4 {
    color: rgba(245, 237, 126, 0.904);
  }
  body footer .wrapper-footer .wrapper-bottom-footer,
  html footer .wrapper-footer .wrapper-bottom-footer {
    margin-bottom: 25px;
    /* FOOTER-CONTACT */
    /* COPYRIGHT */
  }
  body footer .wrapper-footer .wrapper-bottom-footer .footer-contact,
  html footer .wrapper-footer .wrapper-bottom-footer .footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(177, 196, 221, 0.5);
  }
  body footer .wrapper-footer .wrapper-bottom-footer .copyright,
  html footer .wrapper-footer .wrapper-bottom-footer .copyright {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */