/* MAIN MENU BACKGROUND COLOR */
$color-1: #173754;
/*  NAV LINK COLOR HOVER */
$color-2: #1eafdd;

// BREAKPOINTS
$screen-xs: 370px;
$screen-sm: 700px;
$screen-md: 1080px;
$screen-lg: 1400px;
$screen-xl: 1920px;
